<div class="top-image">
  <img src="blog.top.jpg">
  <div class="top-message">
    <h1>Blog</h1>
    <p>~Start your New Life from here~</p>
  </div>
</div>

<div class="top-explanation">
  <h2>About Blog</h2>
  <p>
    Blogは日々の出来事や思ったことを投稿できるサービスです。<br>
    Blogを利用する事であたなの生活に彩りが加わり、新しい生活が始まる事でしょう。
  </p>
  <p>
    ヘッダーはスマホサイズになった時にハンバーガーメニューになる仕様です。<br>
    ブログ一覧画面では、PCサイズ以上では２列表示になるようなレスポンシブデザインです。
  </p>
</div>
