

.layout{
  width: 90%;
  min-width: 460px;
  padding-bottom: 60px;
  margin: auto;
}

.blog-item{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 0;
  background-color: white;
}

.blog-item table{
  width: 100%;
}

.blog-item th{
  padding:5px;
  padding-right: 20px;
}

.blog-item td{
  padding: 5px;
  word-break:break-all;
}

.blog-item a{
  padding: 5px;
}

.btn-group-all{
  padding: 5px;
}

.new-action p{
  margin: 0;
}
